TOKYOGAS_EMAIL=email
TOKYOGAS_PASSWORD=password
CONTRACT_NUMBER=contract_number
DC_CHANNEL_ID=channel_id
DC_TOKEN=your_discord_bot_token
GITHUB_REPOSITORY=owner/monitokyogas
DATA_BRANCH=data
MONTHLY_USAGE_LIMIT_KWH=120
DAILY_BUDGET_KWH=4
BILLING_CYCLE_START_DAY=24
